<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>08_ForceOrientation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8970DA191E56A03800E51186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8970DA321E56A03900E51186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8970DA3D1E56A03900E51186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
